<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title inertia>
      AdonisJS x Inertia x React
    </title>
    <style type="text/css">
      @layer tailwind-base, components, tailwind-utils;
    </style>
    <link rel="stylesheet" href="/colors.css" />

    @viteReactRefresh()
    @inertiaHead()
    @vite([
      'inertia/app/app.tsx',
      `inertia/pages/${page.component}.tsx`,
    ])
    @if(process.env.NODE_ENV === 'test')
      @vite(['inertia/all.ts'])
    @end
  </head>
  <body>
    @inertia()
  </body>

</html>
